body {
  background: #2c2c2c;
}

aside {
  float: left;
  background: #181818;
  width: 25%;
  padding: 2.5%;
  height: auto;
  color: #fff;
  border-right: 5px solid #4d4d4d;
}

aside .logo {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  top: -5x;
}

aside {
  margin-top: 0px;
  font-size: 28x;
}

aside ul {list-style: none;}
aside ul li {
  color: #fff;
  display: block;
  margin-top: 20px;
  transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
  color:  #eb5959;
  text-decoration: none;
  transform: scale(1.05);
}

main .features {
  float: left;
  color: #fff;
  margin-top: 100px;
  text-align: center;
  width: 75%;
}
